<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>PassManager</title>
    <!-- favicon -->
    <!-- <link rel="icon" type="image/png" href="img/favicon.png"> -->
    <!-- Bootstrap Core CSS -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/main.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Include the Browserify output -->
    <script src="dist/app.js"></script>
</head>

<body ng-app="PassManager" ng-controller="MainController">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <h2>PassManager</h2>
                <br>
                <form name="passForm" ng-hide="!locked">
                    <div class="btn-group" ng-hide="!locked">
                        <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'office'">office</label>
                        <label class="btn btn-default" ng-model="radioModel" uib-btn-radio="'admin'">admin</label>
                    </div>
                    <br>
                    <br>
                    <div class="form-group has-feedback" ng-hide="!locked" ng-class="{ 'has-error': passForm.pwd.$invalid }">
                        <label for="pwd">Password:</label>
                        <input class="form-control" type="password" name="pwd" id="pwd" ng-model="pwd">
                        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-remove': passForm.pwd.$invalid}"></span>
                    </div>
                    <br>
                    <br>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h4 ng-if="filesDecrypted != filesTotal">Decrypting...</h4>
                <div class="panel-group">
                    <div class="panel panel-default" ng-repeat="o in output | orderBy: 'file'">
                        <div class="panel-heading" ng-click="isCollapsed = !isCollapsed">
                            <h4 class="panel-title">{{ o.file }}</h4>
                        </div>
                        <div uib-collapse="!isCollapsed" class="panel-collapse collapse">
                            <div class="panel-body" ng-bind-html="o.password">{{ o.password }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>